.status {
    width: 10px;
    height: 10px;

    margin-right: 10px;

    border-radius: 50%;
}

.online {
    composes: status;
    background-color: #4eae50;
}

.offline {
    composes: status;
    background-color: #ff4f54;
}
