.avatarInProfile {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

    border-radius: 50%;
}

.avatarInFriendList {
    width: 48px;
    height: 48px;

    margin-right: 10px;
}
